body{
    margin: 0px;
    background: url(video.mp4) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navBar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction:row;
    justify-content:end; 
    align-items: center;
}
.ul1{
   
    list-style-type:none;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    width: 50%;
    color: white;
    
}
.pic1{
 width: 320px;
 height: 165px;
 position: relative;
 right: 40px;
 
}
.link1{
    position: relative;
    right: 100px;
}
.class1{
   
    width: 100%;
    height: 101%;
    background-color: hsla(271, 81%, 34%, 0.482);
    

}
    
.video1{
   width: 100%;
   position: absolute;
   width: 100%;
   top: 0px;
   bottom: 0px;
   z-index:-1;
}
.backgrond-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p1 {
    font-size: 60px;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}
.p2{
    font-size: 70px;
    margin-top: 0;
    color: white;
    font-weight: bold;
}
.button-now{
padding-top: 16px;
padding-right: 96px;
padding-left: 96px;
position: absolute;
top: 340px;
border-radius: 30px;
color: white;
background-color: #54BBBD;
border-style: none;
font-size: 40px;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
}
.button-now:hover{
    background-color: #54bbbdd6;
}
.class2{
    width: 100%;
    height:700px;
    background-color: rgba(192, 192, 192, 0.447);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 0;
}
.class3{
    font-size: 30px;
    font-weight: bold;
}
.squer1{
border-style: solid;
border-color: white;
border-radius: 4%;
border-right-width: 15px;
border-right-color: #BEE5C2;
width: 30%;
height: 250px;
position: absolute;
left: 710px;
background-color: white;
cursor: pointer;
transition: 0.3s;
}

.squer1:hover{
border-style: solid;
border-color: white;
border-radius: 4%;
border-right-width: 15px;
border-right-color: #BEE5C2;
width: 31%;
height: 280px;
background-color: white;

}
.squer2{
    border-style: solid;
    border-color: white;
    border-radius: 4%;
    border-right-width: 15px;
    border-right-color: #91D8DB;
    width: 30%;
    height: 250px;
    position: absolute;
    left: 370px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
.squer2:hover{
    border-style: solid;
    border-color: white;
    border-radius: 4%;
    border-right-width: 15px;
    border-right-color: #91D8DB;
    width: 31%;
    height: 280px;
    position: absolute;
    left: 370px;
    background-color: white;
}
.squer3{
    border-style: solid;
    border-color: white;
    border-radius: 4%;
    border-right-width: 15px;
    border-right-color: #91D8DB;
    width: 30%;
    height: 250px;
    position: absolute;
    left: 30px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
.squer3:hover{
    border-style: solid;
    border-color: white;
    border-radius: 4%;
    border-right-width: 15px;
    border-right-color: #91D8DB;
   width: 31%;
    height: 280px;
    position: absolute;
    left: 30px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s; 
}
.button2{
border-style: solid;
border-color: rgb(0, 0, 0);
border-radius: 20%;
width: 300px;
height: 80px;
margin-bottom: 0;
}
.class5{
    width: 100%;
    height:700px;
    background-color:white;
}
.p3{
    font-size: 50px;
}
.squer4{

    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 15%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);
}
.squer5{
    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 15%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);
}
.squer6{
    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 15%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);
}
.squer7{
    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 15%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    display: inline;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);
}
.class8{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    display: inline;
}
.class9{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.p3{
    text-align: center;
}
.but{
    position: absolute;
    font-weight: bold;
    font-size: medium;
    left: 500px;
    margin-top: 70px;
    width: 20%;
    height: 40px;
    border-width: 1px;
    border-radius: 999px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-color: #283087;
    color: #283087;
    background-color: white;
}
.class10{
    width: 100%;
    height:700px;
    background-color:#4E3797;
}

.p4{
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.squer8{

    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 15%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);
}
.squer9{
    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 15%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);
}
.squer10{
    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 15%;
    height: 230px;
    background-color: rgb(255, 255, 255);
}
.squer11{
    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 15%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    display: inline;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);}
    .class11{
        margin: 39px;
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        display: inline;
    }
